/*Table of Contents
-body
-Type
-Links
-Buttons
-Forms
*/

body {
  font-family: Arial, Verdana, sans-serif;
  color: #000000;
  background-color: #D2B48C;
}

h1 {
  font-family: 'Kalam', cursive;
  color: #00000;
  text-align: left;
  padding-top: 1em;
}

input {
    color: #000000;
    background-color: #fff;
    border: 1px solid #708090;
    border-radius: 5px;
    padding: 7px;
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 10px;
}

input:focus, input:hover {
    background-color: #fff ;
    border: 1px solid #708090;
}

 #unorderedList li{
  list-style-type: circle;
  font-size: 1.2em;
  padding-top: 1.3em;
 }

